attrs==20.3.0
dataclasses==0.8
importlib-metadata==4.0.1
iniconfig==1.1.1
joblib==1.0.0
numpy==1.19.4
opacus==0.11.0
packaging==20.9
pandas==1.1.5
Pillow==8.0.1
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2020.4
scikit-learn==0.23.2
scipy==1.5.4
six==1.15.0
sklearn==0.0
tenseal==0.3.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.1
torchcsprng==0.1.4
torchvision==0.8.2
tqdm==4.56.0
typing-extensions==3.7.4.3
zipp==3.4.0
